---
layout: default
---
<article class="post">

  {% if page.collection == 'designs' %}
  <nav>
    <a href="{{ '/designs/' | relative_url }}">&laquo; All Designs</a>
  </nav>
  <hr/>
  {% endif %}

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
